
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Header Section Aria */
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 30px auto;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 50px;
}
.logo-text{
    font-size: 35px;
    font-weight: 700;
    padding-left: 10px;
}
.logo-text span{
    color: #FF42A5;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    
}
.nave-menu-item{
    margin-right: 20px;
}

.nav-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E6E9;
    padding: 8px 15px;
    border-radius: 10px;
}
.nav-icon a{
    margin-left: 10px;
    color: red;
    text-decoration: none;
    font-size: 150%;
}

/* header mobile responsive */
@media screen and (max-width: 425px) {
    .header{
        flex-direction: column;
    
    }  
    .nav{
    display: flex;
    flex-direction: column;
}
.nav-menu{
    flex-direction: column;
    margin: 0px auto 20px;
}
.nave-menu-item{
    margin-top: 20px;
}
}
/* Banner Aria */

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.banner-aria{
    width: 100%;
    height: 100%;
    background-image: url('./images/Group\ 14.png');
}
.gradient-text{
    background-image: linear-gradient(to bottom,#ff7ef0,#a518fd);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-content-text{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.banner-content-text a{
    text-decoration: none;
    color: red;
    padding-right: 10px;
}
#dw-icon{
    color: #FF42A5;
}
#mane-icon{
    color: black;
}
.banner-pic{
    width: 100%;

}
.sing-in{
    background-color: #FF42A5;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}
.go-rogue{
    background-color: #4EC5F7;
    color: #fff;
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}
.banner-content h3{
    font-size: 35px;
}
.banner-content h1{
    font-size: 65px;
}
/* Banner mobile responsive */
@media screen and (max-width: 425px) {
    .banner-container{
        margin: 0px 80px;
        flex-direction: column-reverse;
    
    } 
    .banner-aria{
        margin-top: 50px;
        width: 200px;
        text-align: center;
} 
.banner-content-text{
    font-size: 8px;
}
.banner-content h3{
    font-size: 25px;
}
.banner-content h1{
    font-size: 35px;
    
}
.banner-aria button{
    padding: 5px 15px;
}
}  
/* gamer section aria */

.gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.gamer-img-laft{
    width: 600px;
}
.gamer-content{
    text-align: right; 
    width: 100%; 
}
.gamer-content h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.gamer-content  p{
    font-size: 12px;
    line-height: 1.7;
    color: gray;
}
.gamer-content h4{
    color: gray;
    margin: 10px 0px;
    font-size: 20px;
}
.gamer-content h2{
    color: #534C64;
}
/* gamer section mobile responsive */
@media screen and (max-width: 425px) {
    .gamer-container{
        margin: 0px 80px;
        flex-direction: column;
    
    } 
    .gamer-img-laft{
        width: 100%;
    }
    .gamer-content{
        text-align: center; 
        width: 70%; 
    }
    .gamer-content h1{
        font-size: 18px;
    }
    .gamer-content  p{
        font-size: 6px;
    }
    .gamer-content h4{
        
        font-size: 9px;
    }
    .gamer-content h2{
        font-size: 10px;
    }
    .sing-in{
        padding: 5px 15px;
    }
}
/* Online Games Funny Videos section */
.online-section{
    margin-bottom: 100px;
}
.online{
    text-align: center;
    margin-top: 100px;
}
.online h1{
    font-size: 35px;
}
.online p{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}
.online-box-content{
    width: 100%;
    margin-right: 20px;
}
.online-box-content p{
    font-size: 14px;
}
.online-box{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.online-box-img{
    width: 100%;
}
/* Online Games Funny Videos section mobile responsive */

@media screen and (max-width: 425px) {
    .online-box{
        margin: 0px 80px;
        flex-direction: column;    
    }
    .online h1{
        font-size: 18px;
        margin: -70px 80px 0px;
    }
    .online p{
        font-size: 8px;
        margin: 10px 80px 20px;
    }
    .online-box-content p{
        font-size: 8px;
        margin: 10px 0px 20px;
    }    
}
/* Play Instantly section aria */
.Play-Instantly{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.Play-Instantly-img{
    display: flex;
    justify-content: right;
    
}
.img-55{
    width: 430px;
    margin-left: 220px;
}
.img-66{
    width: 215px;
    height: 245px;
    margin-left: 600px;
    margin-top: -200px;
    padding: px;
    border: 1px solid rgb(255, 224, 224);
    border-radius: 5px;
}
.Play-Instantly-content{
    text-align: right;
}
.Play-Instantly-content h1{
    font-size: 35px
}
.Play-Instantly-content p{
    font-size: 12px;
    line-height: 1.7;  
    color: gray;  
}
.Play-Instantly-content-color-heading{
    color: #E84ABB;
}
/* Play Instantly section mobile responsive */

@media screen and (max-width: 425px) {
    .Play-Instantly{
        margin: 0px 80px;
        flex-direction: column;    
    }
    .Play-Instantly-img{
        margin: 0px 80px;
        flex-direction: column;
    }
    .img-66{
        width: 100px;
        height: 120px;
        margin-left: 30px;
        margin-top: -90px;
        border: 1px solid rgb(255, 224, 224);
        border-radius: 5px;
    }
    .img-55{
        width: 250px;
        margin-left: 0px;
    }
    .Play-Instantly-content h1{
        font-size: 18px
    }
    .Play-Instantly-content{
        text-align: center;
        margin-top: -80px;

    }
    .Play-Instantly-content p{
        font-size: 8px;
        margin: 20px 0px;
    }
}
/* games section aria */
